*{
    margin: 0;
    padding: 0;
}
body{
    
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/*Botón de WhatsApp*/
.botonWhatsapp{
    z-index: 2;
    position: fixed;
    bottom: 3.125rem;
    right: 1.875rem;
}
header div .logoWsp:hover{
    border-radius: 50px;
    background-color: #0ad149;
}

/*Estilos de HTML de Inicio*/
.navegacion{
    z-index: 1;
    background-color: rgba(20,22,24,0.9);
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    position: fixed;
    opacity: 0.8;
    cursor: pointer;
    transition: all 600ms ease-out;
}
.enlace{
    padding: 1.25em 3.125rem;
}

.navegacion ul{
    list-style: none;
}

.menu > li{
    position: relative;
    display: inline-block;
}

.menu > li > a{
    display: block;
    padding: 0.9375rem ;
    color: white;
    font-size: 0.9375rem;
    text-decoration: none;
    text-transform: uppercase;
}
.menu > li > a:hover{
    background-color: crimson;
    border-radius: 10px;
    transform: scale(1.10);
    transition: all 600ms ease-out;
    
}

/*Animación a Imagen Principal*/

.imgPrincipal{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    margin-bottom: 50px;
}

.imgPrincipal figure{
    position: relative;
    width: 100%;
    height: 100%;
    box-shadow: 0px 10px 25px rgb(0, 0, 0, 0.50) ;
    
}
.imgPrincipal figure img{
    width: 100%;
    height: 100%;
    transition: all 600ms ease-out;
}
.imgPrincipal figure .capa{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.3);
    opacity: 0;
    visibility: hidden;
    text-align: center;
}

.imgPrincipal figure:hover > .capa{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    opacity: 1;
    visibility: visible;
}
.imgPrincipal figure:hover > .capa h3{
    margin-top: 3.5em;
    margin-bottom: 15px;
}
.imgPrincipal figure:hover > img{
    transform: scale(1.1);
}

.imgPrincipal figure .capa h3{
    color: #fff;
    font-size: 60px;
    font-weight: 400px;
    margin-bottom: 100px;
    transition: all 600ms ease-out;
    margin-top: 30px;
}

.imgPrincipal figure .capa p{
    color: #fff;
    font-size: 30px;
    line-height: 1.5;
    width: 100%;
}


/*Aplicando Grid u Animaciones a HTML de inicio*/
.grid{
    overflow: hidden;
    height: auto;
    display: grid;
    grid-template-areas: "principal principal principal"
                         "main main main"
                         "article article article"
                         "footer footer footer";
}
section{
    grid-area: principal;
}

section .imgPrincipal{
    
    grid-area: principal;
    display: flex;
    flex-direction: row;
}

main{
    grid-area: main;
}
main .img123{
    display: flex;
    justify-content: space-around;
    
}
main .img1{
    margin: 10px;
    border-radius: 5px;
    transition: all 500ms ease-out;
    box-shadow: 0px 10px 25px rgb(0, 0, 0, 0.50) ;
    
}
main .img2{
    margin: 10px;
    border-radius: 5px;
    transition: all 500ms ease-out;
    box-shadow: 0px 10px 25px rgb(0, 0, 0, 0.50) ;
}
main .img3{
    margin: 10px;
    border-radius: 5px;
    transition: all 500ms ease-out;
    box-shadow: 0px 10px 25px rgb(0, 0, 0, 0.50) ;
    
}
/*Aplicando hover*/

main .img1:hover{
    transform: scale(1.1);
}
main .img2:hover{
    transform: scale(1.1);
}
main .img3:hover{
    transform: scale(1.1);
}


article{
    grid-area: article;
    width: 80%;
    margin: auto;
    padding-top: 20px;
}
article .texto h3{
    border-top: 3px solid grey  ;
    text-align: center;
    font-size: 40px;
    
    
}
article p{
    
    font-size: 30px;
    text-align: left;
    line-height: 1.5em; 
}
article .calidad h3{
    
    margin-top: 50px;
    border-top: 3px solid grey  ;
    text-align: center;
    font-size: 40px;
}
article .imgCalidad img{
    margin: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
}
article .clientes h3{
    
    margin-top: 50px;
    border-top: 3px solid grey  ;
    text-align: center;
    font-size: 40px;
}
article .imgClientes img{
    margin: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
}
/*Estilos de HTML del pie de página*/
footer{
    grid-area: footer;
    background: black;
    color: white;
    padding: 2.5rem 0;
    text-align: center;
    
}
/*Responsive en HTML de inicio*/


@media (max-width: 1200px){
    main .img123{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 780px){
    .imgPrincipal figure .capa h3{
        font-size: 50px;
    }
    .imgPrincipal figure .capa p{
        font-size: 20px;
    }
    main .img123{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    header nav .enlace{
        padding: 6px;
    }
    main .img1{
        width: 31.25rem;
    }
    main .img2{
        width: 31.25rem;
    }
    main .img3{
        width: 31.25rem;
    }
}
@media (max-width: 480px){
    .imgPrincipal figure .capa h3{
        font-size: 40px;
    }
    .imgPrincipal figure .capa p{
        font-size: 15px;
    }
    article .texto .parrafo{
        font-size: 0.9375rem;
    }
    
    .menu > li > a{
        padding: 10px;
        font-size: 15px;
    }
    main .img1{
        width: 25rem;
    }
    main .img2{
        width: 25rem;
    }
    main .img3{
        width: 25rem;
    }
    
}


/*Estilos de HTML de Empresa*/
main .empresa h4{
    color: crimson;
    text-align: left;
    text-transform: uppercase;
    font-size: 1.562rem;
}
main .empresa{
    padding: 12.5rem;
    line-height: 2;
    
}


/*Estilos de HTML de Productos*/
/*Aplicando GRID y Responsive*/

.gridProducto{
    padding-top: 120px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)) ;
    grid-template-columns: minmax(200px, auto);
    gap: 20px;
    padding: 100x;
    justify-content: center;
}

main .imagen1{
    
    width: auto;
    height: 300px;
}
main .imagen2{
    
    width: auto;
    height: 20rem;
}
main .imagen3{
    
    width: auto;
    height: 20rem;
}
main .imagen4{
    
    width: auto;
    height: 20rem;
}
main .imagen5{
    
    width: auto;
    height: 20rem;
}
main .imagen6{
    width: auto;
    height: 20rem;
}


/*Estilos de HTML de Servicios*/
main .servicios h4{
    color: crimson;
    text-align: left;
    text-transform: uppercase;
    font-size: 1.5625rem;
}

main .servicios{
    padding: 12.5rem;
    line-height: 2;
}

/*Estilos de HTML de Contacto*/
main .contactenos{
    background-color: #eaeae3;
    text-align: center;
    padding: 6.25em;
    font-size: 1.5em;
}

main form .formulario {
    margin: 50px;

}