@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; }

header .botonWhatsapp {
  z-index: 2;
  position: fixed;
  bottom: 3.125rem;
  right: 1.875rem; }
  header .botonWhatsapp:hover .logoWsp {
    border-radius: 50px;
    background-color: #0ad149; }

header nav {
  height: 80px;
  width: 100%;
  z-index: 1;
  background-color: rgba(20, 22, 24, 0.9);
  height: auto;
  position: fixed;
  opacity: 0.9;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  header nav .enlace {
    padding: 20px 20px; }
  header nav ul {
    margin-right: 20px; }
    header nav ul li {
      display: inline-block;
      line-height: 80px;
      margin: 0 5px; }
      header nav ul li a {
        color: #fff;
        font-size: 18px;
        padding: 7px 13px;
        border-radius: 3px;
        text-transform: uppercase;
        text-decoration: none; }
        header nav ul li a:hover {
          color: crimson;
          transition: .5s; }
      header nav ul li .active {
        color: crimson; }
  header nav .logo {
    height: 40px; }

/*Estilos en Checkbox*/
.checkbtn {
  font-size: 30px;
  color: #fff;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none; }

#check {
  display: none; }

/*Aplicando Grid a HTML de Inicio*/
.grid {
  overflow: hidden;
  height: auto;
  display: grid;
  grid-template-areas: "principal principal principal" "main main main" "article article article"; }
  .grid .imgPrincipal {
    grid-area: principal;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    margin-bottom: 50px; }
    .grid .imgPrincipal figure {
      position: relative;
      width: 100%;
      height: 100%;
      box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.5); }
      .grid .imgPrincipal figure img {
        width: 100%;
        height: 100%;
        transition: all 600ms ease-out; }
      .grid .imgPrincipal figure .capa {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.3);
        opacity: 0;
        visibility: hidden;
        text-align: center; }
        .grid .imgPrincipal figure .capa h3 {
          color: #fff;
          font-size: 60px;
          font-weight: 400px;
          margin-bottom: 100px;
          transition: all 600ms ease-out;
          margin-top: 30px; }
        .grid .imgPrincipal figure .capa p {
          color: #fff;
          font-size: 30px;
          line-height: 1.5;
          width: 100%; }
      .grid .imgPrincipal figure:hover .capa {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        opacity: 1;
        visibility: visible; }
      .grid .imgPrincipal figure:hover .capa h3 {
        margin-bottom: 15px; }
  .grid main {
    grid-area: main; }
    .grid main .quienesSomos {
      padding: 50px;
      display: flex;
      justify-content: center; }
      .grid main .quienesSomos h4 {
        border-top: 3px solid grey;
        width: 80%;
        padding-top: 50px;
        text-align: center;
        font-size: 32px; }
    .grid main .somos {
      width: 90%;
      margin: auto;
      display: flex;
      justify-content: center; }
      .grid main .somos img {
        width: 100%;
        height: 100%;
        border-radius: 5px;
        box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.5); }
      .grid main .somos .somosParrafo {
        max-width: 50%;
        margin: 0px 20px 20px; }
        .grid main .somos .somosParrafo p {
          text-align: justify;
          font-size: 20px; }
          .grid main .somos .somosParrafo p span {
            color: crimson; }
        .grid main .somos .somosParrafo .boton a {
          text-decoration: none;
          color: crimson; }
          .grid main .somos .somosParrafo .boton a:hover {
            color: red; }
    .grid main .img123 {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      width: 90%;
      margin: auto;
      border-radius: 3px;
      overflow: hidden;
      padding: 60px 0;
      gap: 20px;
      padding-top: 20px; }
      .grid main .img123 .imgUno {
        position: relative;
        margin-bottom: 5px;
        box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
        min-width: 200px;
        border-radius: 5px; }
        .grid main .img123 .imgUno a img {
          border-radius: 5px;
          width: 100%;
          height: 100%;
          object-fit: cover;
          box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.5); }
        .grid main .img123 .imgUno a .overlay3 {
          position: absolute;
          display: flex;
          justify-content: center;
          align-items: center;
          bottom: 0;
          left: 0;
          background: rgba(0, 0, 0, 0.7);
          width: 100%;
          height: 0;
          border-radius: 5px;
          overflow: hidden; }
          .grid main .img123 .imgUno a .overlay3 p {
            color: white;
            font-size: 30px;
            position: absolute;
            text-align: center; }
        .grid main .img123 .imgUno a:hover .overlay3 {
          height: 100%; }
    .grid main .nuestrosServicios {
      padding: 50px;
      display: flex;
      justify-content: center;
      align-items: center; }
      .grid main .nuestrosServicios h4 {
        border-top: 3px solid grey;
        width: 80%;
        padding-top: 50px;
        text-align: center;
        font-size: 32px; }
  .grid article {
    grid-area: article;
    width: 80%;
    margin: auto;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .grid article .calidad h4 {
      padding: 50px;
      border-top: 3px solid grey;
      text-align: center;
      font-size: 32px; }
    .grid article .imgCalidad img {
      width: 100%; }
    .grid article .clientes h4 {
      padding-top: 50px;
      border-top: 3px solid grey;
      text-align: center;
      font-size: 32px; }
    .grid article .imgClientes img {
      width: 100%; }

/*Estilos del Pie de página*/
footer {
  width: 100%;
  background-color: #0a141d; }
  footer .grupo-1 {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 30px 0px; }
    footer .grupo-1 .box figure {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center; }
      footer .grupo-1 .box figure img {
        padding: 10px;
        background-color: white;
        width: 250px; }
    footer .grupo-1 .box h5 {
      color: #fff;
      font-size: 20px; }
    footer .grupo-1 .box ul li {
      color: #efefef; }
      footer .grupo-1 .box ul li a {
        text-decoration: none;
        color: #efefef; }
        footer .grupo-1 .box ul li a:hover {
          color: crimson; }
    footer .grupo-1 .box .red-social a {
      display: inline-block;
      text-decoration: none;
      width: 45px;
      height: 45px;
      line-height: 45px;
      color: #fff;
      margin-right: 10px;
      background-color: #0d2033;
      text-align: center;
      transition: all 300ms ease; }
      footer .grupo-1 .box .red-social a:hover {
        color: aqua; }
  footer .grupo-2 {
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #fff; }
    footer .grupo-2 small {
      font-size: 15px; }

/*Estilos en HTTML de Empresa*/
.Empresa {
  padding-top: 9.3rem; }
  .Empresa p {
    text-align: justify; }
  .Empresa .nosotros {
    height: 38rem;
    background-color: rgba(0, 0, 0, 0.05); }
    .Empresa .nosotros img {
      height: 34.3rem !important; }
  .Empresa section p span {
    color: crimson !important; }

/*Estilos en HTML  de Productos*/
main .sectionProducto {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 90%;
  margin: auto;
  border-radius: 3px;
  overflow: hidden;
  padding: 60px 0;
  gap: 20px;
  padding-top: 6rem; }
  main .sectionProducto .imgProcutos {
    width: 32%;
    position: relative;
    height: 300px;
    margin-bottom: 5px;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
    flex: 350px;
    min-width: 200px; }
    main .sectionProducto .imgProcutos a img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
    main .sectionProducto .imgProcutos a .overlay {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      bottom: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.7);
      width: 100%;
      height: 0;
      transition: .5s ease;
      overflow: hidden; }
      main .sectionProducto .imgProcutos a .overlay p {
        color: white;
        font-size: 30px;
        position: absolute;
        text-align: justify; }
    main .sectionProducto .imgProcutos a:hover .overlay {
      cursor: pointer;
      height: 100%; }

/*Estilos en HTML de Servicios*/
.imgServicios {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  margin-bottom: 50px; }
  .imgServicios figure {
    position: relative;
    width: 100%;
    height: 100%;
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.5); }
    .imgServicios figure img {
      width: 100%;
      height: 100%;
      transition: all 600ms ease-out; }
    .imgServicios figure .capa2 {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.3);
      opacity: 0;
      visibility: hidden;
      text-align: center; }
      .imgServicios figure .capa2 h3 {
        color: #fff;
        font-size: 60px;
        font-weight: 400px;
        margin-bottom: 100px;
        transition: all 600ms ease-out;
        margin-top: 30px; }
      .imgServicios figure .capa2 p {
        color: #fff;
        font-size: 30px;
        line-height: 1.5;
        width: 100%;
        text-align: l; }
    .imgServicios figure:hover .capa2 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
      opacity: 1;
      visibility: visible; }
    .imgServicios figure:hover .capa2 h3 {
      margin-bottom: 15px; }

main .serviciosEstilos {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 90%;
  margin: auto;
  border-radius: 3px;
  overflow: hidden;
  padding: 60px 0;
  gap: 20px;
  padding-top: 20px; }
  main .serviciosEstilos .imagenesServicios {
    position: relative;
    margin-bottom: 5px;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
    min-width: 200px;
    border-radius: 5px; }
    main .serviciosEstilos .imagenesServicios a img {
      border-radius: 5px;
      width: 100%;
      height: 100%;
      object-fit: cover;
      box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.5); }
    main .serviciosEstilos .imagenesServicios a .overlay4 {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      bottom: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.7);
      width: 100%;
      height: 0;
      border-radius: 5px;
      overflow: hidden; }
      main .serviciosEstilos .imagenesServicios a .overlay4 p {
        color: white;
        font-size: 30px;
        position: absolute;
        text-align: center; }
    main .serviciosEstilos .imagenesServicios a:hover .overlay4 {
      height: 100%; }

section .serviciosEstilos {
  padding: 100px; }

/*Estilos en HTML de Contactos*/
.estilosContacto {
  color: #fff;
  line-height: 1.6;
  font-family: 'Quicksand', sans-serif;
  padding: 0 1.5em;
  padding-top: 5em; }
  .estilosContacto .formulario {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em; }
    .estilosContacto .formulario .logo {
      color: #000;
      text-align: center;
      font-size: 3em; }
      .estilosContacto .formulario .logo span {
        color: #B70E21; }
    .estilosContacto .formulario .contact-wrapper {
      display: grid;
      grid-template-columns: 2fr 1fr; }
      .estilosContacto .formulario .contact-wrapper .contact-form {
        padding: 1em;
        background: rgba(20, 22, 24, 0.9); }
        .estilosContacto .formulario .contact-wrapper .contact-form form label {
          display: block; }
          .estilosContacto .formulario .contact-wrapper .contact-form form label p {
            margin: 0;
            padding: 1em; }
          .estilosContacto .formulario .contact-wrapper .contact-form form label .block {
            grid-column: 1 / 3; }
        .estilosContacto .formulario .contact-wrapper .contact-form form button, .estilosContacto .formulario .contact-wrapper .contact-form form input, .estilosContacto .formulario .contact-wrapper .contact-form form textarea {
          width: 100%;
          padding: .7em;
          border: none;
          background: none;
          outline: 0;
          color: #fff;
          border-bottom: 1px solid #d63031; }
        .estilosContacto .formulario .contact-wrapper .contact-form form button {
          background: #B70E21;
          border: 0;
          text-transform: uppercase;
          padding: 1em; }
          .estilosContacto .formulario .contact-wrapper .contact-form form button:hover {
            background: #d63031; }

/*Media queries*/
@media (max-width: 1200px) {
  nav ul li a {
    font-size: 16px; }
  .grid main .somos {
    width: 90%;
    display: flex;
    flex-direction: column; }
    .grid main .somos img {
      margin-bottom: 20px; }
    .grid main .somos .somosParrafo p {
      width: 180%; } }

@media (max-width: 830px) {
  header .botonWhatsapp {
    bottom: 1.5rem;
    right: 0.5rem; }
    header .botonWhatsapp a img {
      height: 55px; }
  header nav {
    display: flex;
    flex-direction: row-reverse; }
    header nav .enlace {
      padding: 6px; }
    header nav .checkbtn {
      display: block; }
    header nav ul {
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #2c3e50;
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all .5s; }
      header nav ul li {
        display: block !important;
        margin: 50px 0;
        line-height: 30px; }
        header nav ul li a {
          font-size: 20px; }
          header nav ul li a:hover {
            background: none;
            color: red; }
        header nav ul li:hover {
          background: none;
          color: red; }
  #check:checked ~ ul {
    left: 0; }
  .grid .imgPrincipal {
    height: 500px; }
    .grid .imgPrincipal figure .capa h3 {
      font-size: 50px; }
    .grid .imgPrincipal figure .capa p {
      font-size: 20px; }
  .grid main .img123 {
    width: 90%; }
    .grid main .img123 .imgUno {
      width: 90%; }
      .grid main .img123 .imgUno a .overlay3 p {
        font-size: 40px; }
  main .sectionProduct .imgProcutos a img {
    width: 100%;
    height: 100%;
    object-fit: none; }
  .imgServicios {
    height: 500px; }
  main .serviciosEstilos {
    width: 90%; }
    main .serviciosEstilos .imagenesServicios {
      width: 90%; }
      main .serviciosEstilos .imagenesServicios a .overlay4 p {
        font-size: 40px; }
  .estilosContacto .formulario .contact-wrapper {
    display: flex;
    flex-direction: column; }
  body footer .grupo-1 {
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding: 35px 0px; } }

@media (max-width: 480px) {
  .grid .imgPrincipal {
    height: 500px; }
    .grid .imgPrincipal figure .capa {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
      opacity: 1;
      visibility: visible; }
      .grid .imgPrincipal figure .capa h3 {
        margin-bottom: 15px;
        font-size: 40px; }
  .grid figure .capa h3 {
    font-size: 40px; }
  .grid figure .capa p {
    font-size: 15px; }
  .grid main .quienesSomos h4 {
    padding-top: 10px;
    font-size: 30px; }
  .grid main .quienesSomos .somos .somosParrafo p {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0; }
  .grid main .quienesSomos .somos .somosParrafo .boton a {
    display: flex;
    margin: 0; }
  .grid main .nuestrosServicios h4 {
    padding-top: 10px;
    font-size: 30px; }
  .grid main .img123 {
    width: 100%; }
    .grid main .img123 .imgUno {
      width: 100%; }
      .grid main .img123 .imgUno a .overlay3 {
        background: rgba(0, 0, 0, 0.5);
        height: 100%; }
  .grid article .calidad h4 {
    font-size: 30px;
    padding-top: 5px; }
  .grid article .clientes h4 {
    font-size: 30px;
    padding-top: 10px; }
  .Empresa p {
    font-size: 18px; }
  main .sectionProducto .imgProcutos a .overlay {
    background: rgba(0, 0, 0, 0.5);
    height: 100%; }
  .imgServicios {
    height: 500px; }
    .imgServicios figure .capa2 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
      opacity: 1;
      visibility: visible; }
      .imgServicios figure .capa2 h3 {
        margin-bottom: 15px;
        font-size: 40px; }
  main .serviciosEstilos {
    width: 100%; }
    main .serviciosEstilos .imagenesServicios {
      width: 100%; }
      main .serviciosEstilos .imagenesServicios a .overlay4 {
        background: rgba(0, 0, 0, 0.5);
        height: 100%; }
        main .serviciosEstilos .imagenesServicios a .overlay4 p {
          font-size: 30px; } }
