/*Estilos en HTTML de Empresa*/
.Empresa{
    padding-top: 9.3rem;
        p{
            text-align: justify;
        }
    
    .nosotros{
        height: 38rem;
        background-color: rgba(0, 0, 0, .05);
        img{
            height: 34.3rem !important;
        }
    }
    section p span{
        color: crimson !important;
    }
}
