/*Estilos en HTML  de Productos*/
main{
    .sectionProducto{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        width: 90%;
        margin: auto;  
        border-radius: 3px;
        overflow: hidden;
        padding: 60px 0;
        gap: 20px;
        padding-top: 6rem;
        .imgProcutos{
            width: 32%;
            position: relative;
            height: 300px;
            margin-bottom: 5px;
            box-shadow: $sombraDos;
            flex: 350px;
            min-width: 200px;
           a{
               img{
                width: 100%;
                height: 100%;
                object-fit: cover;
               }
               .overlay{
                @extend %displayFlex;
                position: absolute;
                bottom: 0;
                left: 0;
                background: rgba(0, 0, 0, 0.7);
                width: 100%;
                height: 0;
                transition: .5s ease;
                overflow: hidden;
                p{
                    color: white;
                    font-size: 30px;
                    position: absolute;
                    text-align: justify;
                }
            }
                &:hover .overlay{
                    cursor: pointer;
                    height: 100%;
                }
           }
           
        }
        
    }
}