/*Estilos en HTML de Servicios*/

.imgServicios{
    @extend %displayFlex;
    width: 100%;
    height: 100vh;
    margin-bottom: 50px;
    figure{
        position: relative;
        width: 100%;
        height: 100%;
        box-shadow: $sombraUno;
        img{
            width: 100%;
            height: 100%;
            transition: all 600ms ease-out;
        }
        .capa2{
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.3);
            opacity: 0;
            visibility: hidden;
            text-align: center;
            h3{
                color: #fff;
                font-size: 60px;
                font-weight: 400px;
                margin-bottom: 100px;
                transition: all 600ms ease-out;
                margin-top: 30px;
            } 
            p{
                color: #fff;
                font-size: 30px;
                line-height: 1.5;
                width: 100%;
                text-align: l;
            }  
        }
        &:hover{
            .capa2{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                height: 100%;
                opacity: 1;
                visibility: visible;
            }
        }
        &:hover{
            .capa2{
                h3{
                    margin-bottom: 15px;
                }
            }
        }
    }
    
}
main{
    .serviciosEstilos{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        width: 90%;
        margin: auto;  
        border-radius: 3px;
        overflow: hidden;
        padding: 60px 0;
        gap: 20px;
        padding-top: 20px;
        .imagenesServicios{
            position: relative;
            margin-bottom: 5px;
            box-shadow: $sombraDos;
            min-width: 200px;
            border-radius: 5px;
            a{
                img{
                    
                    border-radius: 5px;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    box-shadow: $sombraUno;
                }
                .overlay4{
                    @extend %displayFlex;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    background: rgba(0, 0, 0, 0.7);
                    width: 100%;
                    height: 0;
                    border-radius: 5px;
                    overflow: hidden;
                    p{
                        color: white;
                        font-size: 30px;
                        position: absolute;
                        text-align: center;
                    }
                }
                    &:hover .overlay4{
                        height: 100%;
                    }
            }
        }
       
    }
}

section{
    .serviciosEstilos{
        padding: 100px;
    }
}
