/*Media queries*/
@media (max-width: 1200px){
    nav{
        ul{
            li{
                a{
                    font-size: 16px;
                }
            }
        }
    }
    .grid{
        main{
            .somos{
                width: 90%;
                display: flex;
                flex-direction: column;
                img{
                    margin-bottom: 20px;
                }
                .somosParrafo{
                    p{
                        width: 180%;
                    }
                }
            }
        }
    }
}

@media (max-width: 830px){
    header{
        .botonWhatsapp{
            bottom: 1.5rem;
            right: 0.5rem;
            a{
                img{
                    height: 55px;
                }
            }
        }
        nav{
            .enlace{
                padding: 6px;
            }
            .checkbtn{
                display: block;
            }
            display: flex;
            flex-direction: row-reverse;
            ul{
                position: fixed;
                width: 100%;
                height: 100vh;
                background: #2c3e50;
                top: 80px;
                left: -100%;
                text-align: center;
                transition: all .5s;
                li{
                    display: block !important; 
                    margin: 50px 0;
                    line-height: 30px;
                    a{
                        font-size: 20px;
                        &:hover {
                            background: none;
                            color: red;
                        }
                    }
                    &:hover {
                        background: none;
                        color: red;
                    }
                }
            }
        }

    }
   
    
    #check:checked ~ ul{
        left:0;
    }
    .grid{
        .imgPrincipal{
            height: 500px;
            figure{
                .capa{
                    h3{
                        font-size: 50px;
                    }
                    p{
                        font-size: 20px;
                    }
                }
            }
        }
        main{
            .img123{
                width: 90%;
                .imgUno{
                    width: 90%;
                    a{
                         .overlay3{
                            p{
                                font-size: 40px;
                            }
                        }
                    }
                }
            }
        }
    }
    main{
        .sectionProduct{
            .imgProcutos{
                a{
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: none;
                    }
                }
            }
        }
    }
    .imgServicios{
        height: 500px;
    }
    main{
        .serviciosEstilos{
            width: 90%;
            .imagenesServicios{
                width: 90%;
                a{
                     .overlay4{
                        p{
                            font-size: 40px;
                        }
                    }
                }
            }
        }
    }
    .estilosContacto {
        .formulario {
            .contact-wrapper {
                display: flex;
                flex-direction: column;
            }
        }
    }
    
    footer {
        .grupo-1 {
            width: 90%;
            grid-template-columns: repeat(1, 1fr);
            grid-gap:30px;
            padding: 35px 0px;
        }
    }
}


@media (max-width: 480px){
    .grid{
        .imgPrincipal{
            height: 500px;
            figure{
                .capa{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    height: 100%;
                    opacity: 1;
                    visibility: visible;
                    h3{
                        margin-bottom: 15px;
                        font-size: 40px;
                    }
                }
            }

        }
        figure{
            .capa{
                h3{
                    font-size: 40px;
                }
                p{
                    font-size: 15px;
                }
            }
        }
        main{
            .quienesSomos{
                h4{
                    padding-top: 10px;
                    font-size: 30px;
                }
            .somos{
                .somosParrafo{
                    p{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin: 0;
                    }
                    .boton{
                        a{
                            display: flex;
                            margin: 0;
                        }
                    }
                }
            }
            }
            .nuestrosServicios {
                h4 {
                    padding-top: 10px;
                    font-size: 30px;
                }
            }
            .img123 {
                width: 100%;
                .imgUno {
                    width: 100%;
                    a{
                        .overlay3 {
                            background: rgba(0, 0, 0, 0.5);
                            height: 100%;
                        }
                    }
                }
            }
            
            
            
        }
        article{
            .calidad{
                h4{
                    font-size: 30px;
                    padding-top: 5px;
                }
            }
            .clientes{
                h4{
                    font-size: 30px;
                    padding-top: 10px;
                }
            }
        }
    }
    .Empresa{
        p{
            font-size: 18px;
        }
    }

    main{
        .sectionProducto{
            .imgProcutos{
                a{
                    .overlay{
                        background: rgba(0, 0, 0, 0.5);
                        height: 100%;
                    }
                }
            } 
        }
    }

    
    .imgServicios{
        height: 500px;
        figure{
            .capa2{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                height: 100%;
                opacity: 1;
                visibility: visible;
                h3{
                    margin-bottom: 15px;
                    font-size: 40px;
                }
            }
        }
    }
    main{
        .serviciosEstilos{
            width: 100%;
            .imagenesServicios{
                width: 100%;
                a{
                     .overlay4{
                        background: rgba(0, 0, 0, 0.5);
                        height: 100%;
                        p{
                            font-size: 30px;
                        }
                    }
                }
            }
        }
    }
    
}